
    <div class="row  justify-content-center mt-3">
      <h1>
          <p class="font-italic">Audiências Cívis</p>
      </h1>
    </div>
<div class="card text-center">
     
     <div class="card" routerLink="#">
        <div class="card-body">
          <h4 class="card-title ">Audiência de tentativa de conciliação ou mediação</h4>
          <p class="card-text"> Descrição: With supporting text below as a natural lead-in to additional content.</p>
        </div>
     </div>
     <div class="card" routerLink="#">
        <div class="card-body">
          <h4 class="card-title ">Audiência de Instrução</h4>
          <p class="card-text"> Descrição: With supporting text below as a natural lead-in to additional content.</p>
        </div>
     </div>
     <div class="card" routerLink="#">
        <div class="card-body">
          <h4 class="card-title ">Audiência de saneamento</h4>
          <p class="card-text"> Descrição: With supporting text below as a natural lead-in to additional content.</p>
        </div>
     </div>
     <div class="card" routerLink="#">
        <div class="card-body">
          <h4 class="card-title ">Audiência de Justificação</h4>
          <p class="card-text"> Descrição: With supporting text below as a natural lead-in to additional content.</p>
        </div>
     </div>
</div>
  

