

<div class="row" style="margin-bottom:10px">

    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
            <iframe  width="560" height="315" [src]=video.url frameborder="0"  allowfullscreen ></iframe>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

        <div class="card-body">
          <h5 class="card-title">{{video.titulo}}</h5>
          <p class="card-text text-info ">Informações</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Juiz: {{ video.juiz }} </li>
          <li class="list-group-item">Reu: {{ video.reu }}</li>
        </ul>
        <div class="card-body">
          <h5 class="card-title text-primary" >Arquivos</h5>
          <div *ngFor = "let arquivo of video.arquivos" style="margin-top:5px">
              <a [href]="arquivo.url" target="about_blank" class="card-link btn btn-primary form-control">{{arquivo.titulo}}</a>
          </div>
          
        </div>
    </div>
  </div>

<button type="button" class="btn btn-primary btn-lg btn-block" (click) = responderQuestionario(video._id)> Responder Questionário</button>

<div class="">
  <form>

      <div class="form-group">
        <label for="anotacoes">Anotações</label>

        <textarea style="text-indent: 0px;" class="form-control" name="anotacoes" id="anotacoes" rows="3" [(ngModel)] = "anotacoes"></textarea>
      </div>
  
  </form>
</div>

  
