<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center mt-5">Login</h1>
    <div class="row justify-content-center">
        <div class=" col-xs-1 col-sm-3 col-md-3 col-lg-1">
        <p class = "text-xs-center text-sm-right text-md-right text-sm-right"><strong>Usuário:</strong></p>
        </div>
        <div class="col-xs-3 col-sm-9 col-md-8 col-lg-5">
            <label  class="sr-only"></label>
            <input  class="form-control" placeholder="Insira seu usuario" required autofocus name="User_nome">
        </div>
      </div>
      <div class="row justify-content-center mt-3">
          <div class="col-sm-3 col-md-3 col-lg-1  ">
            <div>
          <p class = "text-xs-center text-sm-right text-md-right text-sm-right "><strong>Senha:</strong></p>
          </div> 
        </div>
        <div class="col-sm-9 col-md-8 col-lg-5">
            <input type="password" id="inputPassword" class="form-control" placeholder="Insira sua senha" required autofocus name="User_senha">
           </div>
            </div>



            <div class="row justify-content-center">
                <div class="col-sm-3 col-lg-1"></div>
                <div class="col-sm-9 col-md-5 col-lg-5 ">
                <div class="checkbox mb-3 ">
               <label>
                     <input type="checkbox" value="remember-me"> Remember me
                 </label>
               </div>
            </div>
           </div>

           <div class="row justify-content-center mt-5">
              <div class="row justify-content-center mt-5">
                  
      
                  <button class="btn btn-lg btn-primary btn-block link" type="button">Logar</button>
                </div>
      
      
            </div>
            

           



</div>



