
<div style="text-align:center">
  
    <div class="card text-white bg-secondary " style="max-width: 18rem centered;">
        <div class="card-header">Header</div>
        <div class="card-body">
          
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mt-2 " style="max-width: 18rem centered;">
          <div class="card-header">Header</div>
          <div class="card-body">
            
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-dark mt-3" style="max-width: 18rem centered;">
            <div class="card-header">Header</div>
            <div class="card-body text-dark">
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
<div>
