<p>
  audiencias works!
</p>

<div>

  <div class="bloco">
    <li> <a routerLink="/audiencias/civil">Civil</a></li>
  </div>

  <div class="bloco">
    <li> <a routerLink="/audiencias/conciliacao">Conciliação</a></li>
  </div>

  <div class="bloco">
    <li> <a routerLink="/audiencias/criminal">Criminal</a></li>
  </div>

  <div class="bloco">
    <li> <a routerLink="/audiencias/juri-popular">Juri Popular</a></li>
  </div>


  <div class="bloco">
    <li> <a routerLink="/audiencias/trabalho">Trabalho</a></li>
  </div>

  
</div>
    


<router-outlet></router-outlet>